*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.main {
    height: 100%;
    width: 40%;
    background-color: lightskyblue;
    padding-top: 60px;
    align-items: center;
    
}

.main .user {
    text-align: center;
    color: black;
}

.navbar {
    display: flex;
    margin-top: 4rem;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    line-height: 1.8;
    flex-direction: column;
    
}

.logout {
    margin-top: 15rem;
    text-align: center;
    font-size: 20px;
}


.page {
    height: 100%;
    width: 100%;
    background-color: lightcyan;
    align-items: center;
    /* padding-top: 60px; */
    /* align-items: center; */
}

.addstorage {
    padding-top: 60px;
    text-align: center;

}

.inpage {
    display: flex;
    margin-top: 3rem;
    text-align: center;
    justify-content: space-around;
    
}

/* .numAddItem {
    display: flex;
    flex-direction: column;
    padding: 2rem;
} */

.inputNameItem {
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.inputAmountItem {
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.inputPicItem {
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.submitItem {
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    
}

.inputItem {
    font-size: 20px;
    padding: 0.5rem;
    margin: 30px;
}

.addButton {
    font-size: 30px;
    color: #fff;
    background-color: limegreen;
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
    
}

.reduceButton {
    font-size: 30px;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
}



.storage {
    padding-top: 60px;
    text-align: center;

}


.title  {
    display: flex;
    margin-top: 3rem;
    text-align: center;
    justify-content: space-around;
    background-color: coral;
}



.inpageStorage {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: blueviolet;
}

.equipmentData {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-around;
    background-color: darkblue;

}

.nameEquipment {
    vertical-align: middle;
    font-size: 20px;
    color: green;
    background-color: chocolate;
    
  }

.amountEquipment {
    
    font-size: 20px;
    color: green;
    background-color: blue;
}