doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/addstorage.css')
    title Index 
  <body>
    <div class="container">
        <div class="main">
            <div class="user">
                <h1>ชื่อ: #{admin.name}</h1>
                <h1>ฝ่าย: ผู้ดูแล</h1>

            </div>

            <div class="navbar">
                <a href="/storage">คลังอุปกรณ์</a>
                <a href="/adminIndex">เพิ่ม-ลด อุปกรณ์</a>

            </div>
            <div class="logout">
                <a href="/logout">Logout</a>
            </div>  
        </div>

        <div class="page">
          <div class="pagename">
            <h1>เพิ่ม-ลด อุปกรณ์</h1>
          </div>

          <div class="title">
            <a1>รูปภาพอุปกรณ์</a1>
            <a1>ชื่ออุปกรณ์</a1>
            <a1>จำนวนอุปกรณ์</a1>
          </div>

          <form class="form-signin" method="POST" action="/auth/addIndex">

            <div class="inpage">

              <div class="inputData">
                <div class="inputPicItem">
                  <input class="inputdata" type="text" name="itempic" id="itempic" placeholder="URL :">

                </div>


                //- <div class="inputNameItem">
                //-   <input class="inputdata" type="text" name="itemname" id="itemname" placeholder="ประเภท :">
                   
                //- </div>

                <div class="inputNameItem">
                  <input class="inputdata" type="text" name="itemname" id="itemname" placeholder="ชื่อ :">
                   
                </div>

                

                <div class="inputAmountItem">
                    <input class="inputdata" type="number" name="itemamount" id="itemamount" placeholder="จำนวน :">
                
                </div>
              </div>

              <div class="submitItem">
                <input class="addButton" type="submit" id="item" value="เพิ่ม/ลด">
                //- <input class="reduceButton" type="submit" id="item" value="ลด">
              </div>

            </div>
          
              
              

          </form>  

          
        </div>
    </div>
  </body>     
    //-     )
      
    //-   )
    //- )
    //- .container 
    //-   .main 
    //-     .user 
    //-       h1#name ชื่อ: #{user.name}











    //- h1= title
    //- p Welcome to #{title}
    //- if admin 
    //-   p #{admin}